<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hive details</title>
    <link rel="stylesheet" th:href="@{/stylesheets/hive_style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <div class="header-section">
            <h1>Adatlap</h1>
        </div>
        <div class="button-container">
            <a th:href="@{/web/bees}" class="btn-back-to-bees">
                <span class="btn-icon">🏢</span>
                <span class="btn-text">Vissza az Irodába</span>
            </a>
            <a th:if="${bee.hiveId != null}"
               th:href="@{/web/hives/{id}(id=${bee.hiveId})}" class="btn-back-to-hive">
                <span class="btn-icon">🏠</span>
                <span class="btn-text">Vissza a Kaptárhoz</span>
            </a>
        </div>
    </header>
    <div class="bee-grid" th:object="${bee}">
        <div class="bee-cell">
            <div class="bee-image"
                 th:style="'background-image: url(/images/beeImages/' + ${bee.beeType.name()} + '.png);'">
            </div>
            <div class="honeycomb-text">
                <div class="btn-age">
                    <span class="btn-icon">⏳</span>
                    <span class="btn-text" th:text="*{ageInDays}">0</span>
                </div>
                <div class="btn-role">
                    <span class="btn-icon" th:switch="*{beeType}">
                        <span th:case="'QUEEN'">👑</span>
                        <span th:case="'WORKER'">🐝</span>
                        <span th:case="'DRONE'">♂️</span>
                        <span th:case="*">❓</span>
                    </span>
                    <span class="btn-text" th:text="*{beeType}">Munkakör</span>
                </div>
                <div class="btn-name">
                    <span class="btn-icon">🏷️</span>
                    <span class="btn-text" th:text="*{beeName}">Név</span>
                </div>
                <div class="btn-hive">
                    <span class="btn-icon">🏠</span>
                    <span class="btn-text" th:text="*{hiveName}">Kaptár</span>
                </div>
                <form th:action="@{/web/bees/evict/{id}(id=${bee.getId()})}" method="post" class="evict-form">
                    <button type="submit" class="btn-evict"
                            th:data-confirm-msg="${bee.beeType.name() == 'QUEEN'}
                ? 'Vigyázz! Ha a Királynőt kilakoltatod, a teljes kaptár kiürül! Biztos vagy benne?'
                : 'Biztosan kilakoltatod ezt a méhet?'"
                            onclick="return confirm(this.getAttribute('data-confirm-msg'));">
                        <span class="btn-icon">❌️</span>
                        <span class="btn-text">Kilakoltatás</span>
                    </button>
                </form>
                <form th:action="@{/web/bees/execute/{id}(id=${bee.getId()})}" method="post" class="execute-form">
                    <button type="submit" class="btn-execute"
                            th:data-confirm-msg="${bee.beeType.name() == 'QUEEN'}
                ? 'Vigyázz! Ha a Királynőt kivégzed, a kaptár népe szétszéled! Biztos vagy benne?'
                : 'Biztosan kivégzed ezt a méhet?'"
                            onclick="return confirm(this.getAttribute('data-confirm-msg'));">
                        <span class="btn-icon">️☠️</span>
                        <span class="btn-text">Kivégzés</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>