<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiveForm</title>
    <link rel="stylesheet" th:href="@{/stylesheets/hive_style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <form th:action="@{/web/bees/move-in}" class="hive-form" method="post" th:object="${movingBee}">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label>Bee Name:</label>
            <div class="bee-name-display">
                <span th:text="*{beeName}">NAME</span>
            </div>
        </div>
        <input type="hidden" th:field="*{beeName}"/>
        <div class="form-group" th:if="*{beeType != null}">
            <label th:for="*{beeType}">Role:</label>
            <div class="bee-type-display">
                <span th:text="*{beeType}">Type</span>
            </div>
        </div>
        <input type="hidden" th:field="*{beeType}"/>
        <div class="form-group">
            <label for="hiveId">New Hive:</label>
            <select id="hiveId" th:field="*{hiveId}" required>
                <option value="" disabled selected>Select a hive</option>
                <option th:each="hive : ${availableHives}" th:value="${hive.id}" th:text="${hive.hiveName}"></option>
            </select>
        </div>
        <div class="button-container" style="text-align: center; margin-top: 20px;">
            <button type="submit" class="static-btn btn-action">Save</button>
            <a th:href="@{/web/bees}" class="static-btn btn-navi">Cancel</a>
        </div>
    </form>
</body>
</html>
